@import org.joda.time.format.DateTimeFormat
@(lists : List[CompanyView])


@main("Virksomhed") {


    <div id="wrap">
        <div class="container">

        <div class="buttonmargin">
        @helper.form(action = routes.CompanyController.index()){
            <button type="submit" class="btn btn-outline-success">Opret virksomhed</button>
        }

        </div>
        </div>

        <div class="container">
            <table id="companyListTable" class="table table-striped table-bordered .table-hover " cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Storkundeaftale</th>
                        <th>Logo</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                @for(company <- lists) {
                    <tr>
                        <form target='_parent' action="@routes.CompanyController.editIndex(company.id)" method="post">

                            <td> @company.name</td>
                        @if(company.specialAgreement){
                            <td>Ja</td>
                        }else{
                            <td>Nej</td>
                        }
                        <td class="logo"><img class="conpany_img" src="@company.logo"></td>

                        <td>
                            <button type="submit" class="btn btn-outline-info btn-edit-submit">Edit</button>
                        </td>
                            <input type="hidden" name="name" value="@company.name">
                            <input type="hidden" name="specialAgreement" value="@company.specialAgreement">
                            <input type="hidden" name="logo" value="@company.logo">
                            <input type="hidden" name="specialAgreementId" value="@company.specialAgreementId">

                        </form>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

