
@main("Job Admin") {
    <div class="main-title">
        <h2>Opret Virksomhed</h2>

    </div>


    <div class="container jumbotron">


    <form data-toggle="validator" role="form" action="@routes.CompanyController.createCompany()" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="companyname">Navn</label>
            <input type="text" class="form-control" data-error="Der mangler navnet." id="companyname" name="name" placeholder="Virksomheds navn" required>
            <div class="help-block with-errors"></div>
        </div>
        <div>

        <label for="specialagreement">Storkundeaftale</label>
        </div>
        <div class="btn-group" id="status" data-toggle="buttons">
            <label class="btn btn-default btn-on btn-lg">
                <input type="radio" value="true" name="specialAgreement" >Ja</label>
            <label class="btn btn-default btn-off btn-lg active">
                <input type="radio" value="false" name="specialAgreement" checked="checked">Nej</label>
        </div>

        <div class="fileform">
            <label class="col-form-label" for="image"> Logo image file </label>
        </div>
            <input type="file" name="image" id="image" required>
        <p class="lead">
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-create-submit btn-lg" data-alert-type="Virksomheden">Opret virksomhed</button>
        </div>
    </p>
    </form>
</div>
}