@(company: CompanyView)

@main("Job Admin") {
    <div class="main-title">
        <h2>Rediger Virksomhed</h2>

    </div>


    <div class="container jumbotron">


        <form data-toggle="validator" role="form" action="@routes.CompanyController.editCompany(company.id)" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="companyname">Navn</label>
                <input type="text" class="form-control" data-error="Der mangler navnet." id="companyname" name="name" required value="@company.name">
                <div class="help-block with-errors"></div>
            </div>
            <div>
                <input type="hidden" name="specialAgreementId" value="@company.specialAgreementId">
                <label for="specialagreement">Storkundeaftale</label>
            </div>
            <div class="btn-group" id="status" data-toggle="buttons">
                @if(company.specialAgreement){
                    <label class="btn btn-default btn-on btn-lg active">
                        <input type="radio" value="true" name="specialAgreement" checked="checked">Ja</label>
                    <label class="btn btn-default btn-off btn-lg">
                        <input type="radio" value="false" name="specialAgreement">Nej</label>
                }else{
                    <label class="btn btn-default btn-on btn-lg">
                        <input type="radio" value="true" name="specialAgreement" >Ja</label>
                    <label class="btn btn-default btn-off btn-lg active" checked="checked">
                        <input type="radio" value="false" name="specialAgreement">Nej</label>
                }

            </div>
            <div class="radio fileform">

                <label>
                    <input type="radio" name="companylogo" id="radio_externallink" value="link" checked="checked" > Logo </label>
                <input type="hidden" class="form-control" id="externallink" name="externallink" value="@company.logo">
                <img class="conpany_img" src="@company.logo">
            </div>

            <div class="radio fileform">
                <label>
                    <input type="radio" name="companylogo" id="raido_image" value="image"> Ny logo image file</label>
            </div>
            <input class="fileform" type="file" name="image" id="image">

            <p class="lead">
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-edit-submit-alert btn-lg" data-alert-type="Virksomheden">Gem virksomhed</button>
        </div>
            </p>
        </form>
    </div>
}