@import org.joda.time.format.DateTimeFormat
@(jobAdView: JobAdView, categoryList: List[Category])(implicit messages: Messages)

@main("Job Admin") {
    <div class="main-title">
        <h2>Edit jobbet</h2>

    </div>

    <div class="container jumbotron">


        <form data-toggle="validator" role="form" action="@routes.JobController.editJobAd(jobAdView.site_name, jobAdView.site_id, jobAdView.id)" method="post" enctype="multipart/form-data" >
            <input type="hidden" name="logo" value="@jobAdView.logo">
            <input type="hidden" name="company_id" value="@jobAdView.company_id">
            <div class="form-group">
                <label for="company">Virksomhed : @jobAdView.company_name</label>
            </div>

            <div class="form-group">
                <label for="jobtitle">Title</label>
                <input type="text" class="form-control" data-error="Der mangler title." id="jobtitle" name="title" value="@jobAdView.title" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="startdate">Start dato</label>
                    <div class="input-group date" data-provide="datepicker">


                        <input type="text" value=" @defining(DateTimeFormat.forPattern("dd/MM/yyyy")) { dateFormatter =>
                            @dateFormatter.print(jobAdView.startdate)}" class="form-control datepicker"  data-error="Der mangler dato." id="startdate" name="startdate" required>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group col-md-6">
                    <label for="enddate">Slut dato</label>
                    <div class="input-group date" data-provide="datepicker">

                        <input type="text" value="@defining(DateTimeFormat.forPattern("dd/MM/yyyy")) { dateFormatter =>
                            @dateFormatter.print(jobAdView.enddate)}" class="form-control datepicker"  data-error="Der mangler dato." id="enddate" name="enddate" required>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>
            </div>


            <div class="form-group">
                <label for="jobtype">Job type</label>

                <div class ="input-group">
                    <select class="form-control" id="jobtype" name="jobtype">
                        @{
                            if(jobAdView.premium){
                                    <option value="basis" > Basis </option>
                                    <option value="basis_plus" selected="selected"> Basis Plus </option>
                                    <option value="recommended" > Recommended </option>

                            }else if(jobAdView.allow_personalized) {
                                    <option value="basis" > Basis </option>
                                    <option value="basis_plus" > Basis Plus </option>
                                    <option value="recommended" selected="selected"> Recommended </option>
                            }else{
                                    <option value="basis"  selected="selected" > Basis </option>
                                    <option value="basis_plus" > Basis Plus </option>
                                    <option value="recommended"> Recommended </option>                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="category">Kategori</label>
                <div class ="input-group">
                    <select class="form-control" id="category" name="category_id">
                        <option selected value="">Vælg kategori</option>
                        @for(category <- categoryList) {
                            @if(category.id == jobAdView.category_id.getOrElse(-1)){
                                <option value="@category.id" selected="selected"> @category.name </option>
                            }else{
                                <option value="@category.id"> @category.name </option>
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="radio">

                <label>
                    <input type="radio" name="joblogo" id="radio_externallink" value="link" checked="checked" > Eksternt link </label>
                <input type="text" class="form-control" id="externallink" name="externallink" value="@jobAdView.externallink">
            </div>

            <div class="radio fileform">
                <label>
                    <input type="radio" name="joblogo" id="raido_pdf" value="pdf"> PDF file </label>
            </div>
            <input type="file" name="pdf" id="pdf">
            <p class="lead">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-create-submit">Gem job</button>
            </div>
        </p>
        </form>

    </div>

}