
@import org.joda.time.format.DateTimeFormat
@(message: String, lists : List[JobAdView])
@stylesheet()
@scripts()

        <div id="wrap">
            <div class="container">
                <h1>Joblisten</h1>

        <table id="joblistTable" class="table table-striped table-bordered .table-hover " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Virksomhed</th>
                    <th>Kategori</th>
                    <th>Job type</th>
                    <th>Startdato</th>
                    <th>Udløbsdato</th>
                    <th>Logo</th>
                    <th>Slet</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @for(jobAd <- lists) {
                    <tr>
                        <td>@jobAd.title</td>
                        <td>@jobAd.company_name</td>
                        <td>@jobAd.category_name</td>
                        <td>@{
                            if(jobAd.premium){
                                "Basis Plus"
                            }else if(jobAd.allow_personalized) {
                                "Recommended"
                            }else{
                               "Basis"
                            }
                        }</td>
                        <td>
                            @defining(DateTimeFormat.forPattern("dd-MM-yyyy")) { dateFormatter =>
                                @dateFormatter.print(jobAd.startdate)}
                        </td>
                        <td> @defining(DateTimeFormat.forPattern("dd-MM-yyyy")) { dateFormatter =>
                            @dateFormatter.print(jobAd.enddate)}</td>
                        <td class="logo"><img class="companylogo" src=@jobAd.logo alt="N/A"></td>

                        <td> @helper.form(action = routes.JobController.deleteJobAd(jobAd.site_name, jobAd.id)){
                            <button type="submit" class="btn btn-outline-danger btn-delete-submit">Slet</button>
                        }</td>
                        <td> @helper.form(action = routes.JobController.editIndex(jobAd)) {
                            <button type="submit" class="btn btn-outline-info btn-edit-submit">Edit</button>
                        }</td>
                    </tr>
                }
            </tbody>
        </table>
            </div>
        </div>


