
@import org.joda.time.format.DateTimeFormat
@(message: String, lists : List[JobAdView], unexpiredJobAds : List[JobAdView], expiredJobAds: List[JobAdView], status: Boolean)
@stylesheet()
@scripts()

        <div id="wrap">
            <div class="container">
                <h1></h1>

        <table id="joblistTable" class="table table-striped table-bordered .table-hover " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Virksomhed</th>
                    <th>Kategori</th>
                    <th>Job type</th>
                    <th>Startdato</th>
                    <th>Udløbsdato</th>
                    <th>Logo</th>
                    <th>Edit</th>
                    <th>Slet</th>
                </tr>
            </thead>
            <tbody>
                @for(jobAd <- lists) {
                    <tr>

                        <form target='_parent' action="@routes.JobController.editIndex(jobAd.site_name:String, jobAd.id)" method="post">

                        <td>@jobAd.title</td>
                        <td>@jobAd.company_name</td>
                        <td>@jobAd.category_name</td>
                        <td>@{
                            if(jobAd.premium){
                                "Basis Plus"
                            }else if(jobAd.allow_personalized) {
                                "Recommended"
                            }else{
                               "Basis"
                            }
                        }</td>
                        <td>
                            @defining(DateTimeFormat.forPattern("dd-MM-yyyy")) { dateFormatter =>
                                @dateFormatter.print(jobAd.startdate)}
                        </td>
                        <td> @defining(DateTimeFormat.forPattern("dd-MM-yyyy")) { dateFormatter =>
                            @dateFormatter.print(jobAd.enddate)}</td>
                        <td class="logo"><img class="companylogo" src=@jobAd.logo alt="N/A"></td>
                        <input type="hidden" name="title" value="@jobAd.title" >
                        <input type="hidden" name="startdate" value="@jobAd.startdate">
                        <input type="hidden" name="enddate" value="@jobAd.enddate">
                        <input type="hidden" name="site_id" value="@jobAd.site_id">
                        <input type="hidden" name="externallink" value="@jobAd.externallink">
                        <input type="hidden" name="company_id" value="@jobAd.company_id">
                            <input type="hidden" name="company_name" value="@jobAd.company_name">
                        <input type="hidden" name="category_id" value="@jobAd.category_id">
                        <input type="hidden" name="premium" value="@jobAd.premium">
                        <input type="hidden" name="allow_personalized" value="@jobAd.allow_personalized">
                            <input type="hidden" name="logo" value="@jobAd.logo">

                        <td>
                            <button type="submit" class="btn btn-outline-info btn-edit-submit">Edit</button>
                        </td>
                        </form>


                        <td> @helper.form(action = routes.JobController.deleteJobAd(jobAd.site_name, jobAd.id)){
                            <button type="submit" class="btn btn-outline-danger btn-delete-submit">Slet</button>
                        }</td>
                    </tr>
                }
            </tbody>
        </table>
            </div>
        </div>


