<section id ="navbar">
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Job Admin</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Job Oversigt <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newjob" href="/jobs/">Opret Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Virksomhed</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
